<div class="required intro-text">
  <p>We understand that applying for your child's school is one of the most important decisions you can make for
     your child. We strive to make it as easy, open, and friendly as possible.</p>

  <p>We review all applications from the waitlist and offer the space to the candidate who best compliments the
     class, giving preference to earliest applicants and siblings.</p>

  <p>We may ask you to update the information provided, if necessary. Once offered a spot, we will
     schedule a meeting. Potential students will meet with the guides in a relaxed atmosphere for
     30-45 minutes; parents will visit with the Director. At this meeting, we will continue to exchange
     information about your child and about DeFord Academy.</p>

  <p>Students are evaluated on the basis of readiness for school and the potential for success in a Montessori
     classroom. Acceptance is based on many factors, and your candid, thoughtful information helps us know about
     your child's readiness and/or placement.</p>

  <p>We strive to maintain and enhance the balance of gender, age range, and special needs within our classroom
     communities. DeFord Academy accepts applications for a wide variety of students, while recognizing our
     limitations in meeting some highly specialized learning and emotional needs. Our admissions procedure will
     therefore take into account our ability to accommodate particular students needs without disruption to our
     program. Students who have needs that fall within our ability to accommodate may be accepted on a provisional
     basis, with additional stipulations. We are happy to answer all your questions about this process.</p>

  <p>Admissions decision will be based on careful and comprehensive review of the submitted materials, and on student
     and family interviews. We respect your right to privacy and honor the confidentiality of all reports, records,
     interview information, and other information obtained as part of the admissions process.</p>
  Sincerely, <img id="sig" src="/images/layout/sig.png"/> Logan Meyers, Director
</div>